#input {
    width: 100%;
}

#default {
    width: 100%;
    color: blueviolet;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
}

#debounce {
}

#throttle {
}

b {
    font-size: xx-large;
}
